#keys
{
    padding:35px;
}
#calculator
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow:hidden;
}
#display
{
    width:100%;
    padding:20px;
    font-size: 5rem;
    text-align:left;
    border:none;
    background-color: hsl(0, 0%, 15%);
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100dvh;
}
button
{
width:100px;
height:100px;
border-radius: 50px;
border:none;
background-color:hsl(0, 0%, 30%);
color:whitesmoke;
font-size: 3rem;
font-weight: bold;
cursor:pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
     background-color: hsl(0, 0%, 50%);
}

.operator-btn
{
    background-color:oklab(80.342% -0.05653 0.13774) ;

}
.operator-btn:hover
{
    background-color:oklab(79.16% -0.0548 0.13309) ;

}
.operator-btn:active
{
    background-color:oklab(90.255% -0.07585 0.17965) ;

}


